@import "tailwindcss";
@import "@repo/tailwind-config";


@layer base {
  :root {
    /* Light Mode */
    --color-primary: #C5CBE3;
    --color-secondary: #4056A1;
    --color-destructive: #F13C20;
    --color-background: #EFE2BA;
    --color-accent: #D79922;
    --color-foreground: #4056A1;

    --radius: 0.5rem;
  }

  .dark {
    /* Dark Mode Colors */
    --color-primary: #9FB1D1;
    --color-secondary: #2A3870;
    --color-destructive: #B82A17;
    --color-background: #2D2D35;
    --color-accent: #A66F16;
    --color-foreground: #EFE2BA;
  }
}
