:root {
  --admin-background: oklch(1.0000 0 0);
  --admin-foreground: oklch(0 0 0);
  --admin-card: oklch(1.0000 0 0);
  --admin-card-foreground: oklch(0 0 0);
  --admin-popover: oklch(1.0000 0 0);
  --admin-popover-foreground: oklch(0 0 0);
  --admin-primary: oklch(0.6736 0.2262 5.9665);
  --admin-primary-foreground: oklch(1.0000 0 0);
  --admin-secondary: oklch(0.8090 0.1688 74.9657);
  --admin-secondary-foreground: oklch(0 0 0);
  --admin-muted: oklch(0.9551 0 0);
  --admin-muted-foreground: oklch(0.3211 0 0);
  --admin-accent: oklch(0.7537 0.1530 232.4690);
  --admin-accent-foreground: oklch(1.0000 0 0);
  --admin-destructive: oklch(0 0 0);
  --admin-destructive-foreground: oklch(1.0000 0 0);
  --admin-border: oklch(0 0 0);
  --admin-input: oklch(0 0 0);
  --admin-ring: oklch(0.6736 0.2262 5.9665);
  --admin-chart-1: oklch(0.6736 0.2262 5.9665);
  --admin-chart-2: oklch(0.8090 0.1688 74.9657);
  --admin-chart-3: oklch(0.7537 0.1530 232.4690);
  --admin-chart-4: oklch(0.7685 0.2458 139.6881);
  --admin-chart-5: oklch(0.5106 0.2619 307.3873);
  --admin-sidebar: oklch(0.9551 0 0);
  --admin-sidebar-foreground: oklch(0 0 0);
  --admin-sidebar-primary: oklch(0.6736 0.2262 5.9665);
  --admin-sidebar-primary-foreground: oklch(1.0000 0 0);
  --admin-sidebar-accent: oklch(0.7537 0.1530 232.4690);
  --admin-sidebar-accent-foreground: oklch(1.0000 0 0);
  --admin-sidebar-border: oklch(0 0 0);
  --admin-sidebar-ring: oklch(0.6736 0.2262 5.9665);
  --admin-font-sans: DM Sans, sans-serif;
  --admin-font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --admin-font-mono: Space Mono, monospace;
  --admin-radius: 0px;
  --admin-shadow-x: 4px;
  --admin-shadow-y: 4px;
  --admin-shadow-blur: 0px;
  --admin-shadow-spread: 0px;
  --admin-shadow-opacity: 1;
  --admin-shadow-color: #1a1a1a;
  --admin-shadow-2xs: 4px 4px 0px 0px hsl(0 0% 10.1961% / 0.50);
  --admin-shadow-xs: 4px 4px 0px 0px hsl(0 0% 10.1961% / 0.50);
  --admin-shadow-sm: 4px 4px 0px 0px hsl(0 0% 10.1961% / 1.00), 4px 1px 2px -1px hsl(0 0% 10.1961% / 1.00);
  --admin-shadow: 4px 4px 0px 0px hsl(0 0% 10.1961% / 1.00), 4px 1px 2px -1px hsl(0 0% 10.1961% / 1.00);
  --admin-shadow-md: 4px 4px 0px 0px hsl(0 0% 10.1961% / 1.00), 4px 2px 4px -1px hsl(0 0% 10.1961% / 1.00);
  --admin-shadow-lg: 4px 4px 0px 0px hsl(0 0% 10.1961% / 1.00), 4px 4px 6px -1px hsl(0 0% 10.1961% / 1.00);
  --admin-shadow-xl: 4px 4px 0px 0px hsl(0 0% 10.1961% / 1.00), 4px 8px 10px -1px hsl(0 0% 10.1961% / 1.00);
  --admin-shadow-2xl: 4px 4px 0px 0px hsl(0 0% 10.1961% / 2.50);
  --admin-tracking-normal: 0em;
  --admin-spacing: 0.25rem;
}

.dark {
  --admin-background: oklch(0 0 0);
  --admin-foreground: oklch(1.0000 0 0);
  --admin-card: oklch(0.3211 0 0);
  --admin-card-foreground: oklch(1.0000 0 0);
  --admin-popover: oklch(0.3211 0 0);
  --admin-popover-foreground: oklch(1.0000 0 0);
  --admin-primary: oklch(0.7425 0.1696 1.0847);
  --admin-primary-foreground: oklch(0 0 0);
  --admin-secondary: oklch(0.8446 0.1531 80.7212);
  --admin-secondary-foreground: oklch(0 0 0);
  --admin-muted: oklch(0.2178 0 0);
  --admin-muted-foreground: oklch(0.8452 0 0);
  --admin-accent: oklch(0.8392 0.1329 214.1113);
  --admin-accent-foreground: oklch(0 0 0);
  --admin-destructive: oklch(1.0000 0 0);
  --admin-destructive-foreground: oklch(0 0 0);
  --admin-border: oklch(1.0000 0 0);
  --admin-input: oklch(1.0000 0 0);
  --admin-ring: oklch(0.7425 0.1696 1.0847);
  --admin-chart-1: oklch(0.7425 0.1696 1.0847);
  --admin-chart-2: oklch(0.8446 0.1531 80.7212);
  --admin-chart-3: oklch(0.8392 0.1329 214.1113);
  --admin-chart-4: oklch(0.7988 0.2278 137.8085);
  --admin-chart-5: oklch(0.5641 0.2480 310.9465);
  --admin-sidebar: oklch(0 0 0);
  --admin-sidebar-foreground: oklch(1.0000 0 0);
  --admin-sidebar-primary: oklch(0.7425 0.1696 1.0847);
  --admin-sidebar-primary-foreground: oklch(0 0 0);
  --admin-sidebar-accent: oklch(0.8392 0.1329 214.1113);
  --admin-sidebar-accent-foreground: oklch(0 0 0);
  --admin-sidebar-border: oklch(1.0000 0 0);
  --admin-sidebar-ring: oklch(0.7425 0.1696 1.0847);
  --admin-font-sans: DM Sans, sans-serif;
  --admin-font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --admin-font-mono: Space Mono, monospace;
  --admin-radius: 0px;
  --admin-shadow-x: 4px;
  --admin-shadow-y: 4px;
  --admin-shadow-blur: 0px;
  --admin-shadow-spread: 0px;
  --admin-shadow-opacity: 1;
  --admin-shadow-color: #1a1a1a;
  --admin-shadow-2xs: 4px 4px 0px 0px hsl(0 0% 10.1961% / 0.50);
  --admin-shadow-xs: 4px 4px 0px 0px hsl(0 0% 10.1961% / 0.50);
  --admin-shadow-sm: 4px 4px 0px 0px hsl(0 0% 10.1961% / 1.00), 4px 1px 2px -1px hsl(0 0% 10.1961% / 1.00);
  --admin-shadow: 4px 4px 0px 0px hsl(0 0% 10.1961% / 1.00), 4px 1px 2px -1px hsl(0 0% 10.1961% / 1.00);
  --admin-shadow-md: 4px 4px 0px 0px hsl(0 0% 10.1961% / 1.00), 4px 2px 4px -1px hsl(0 0% 10.1961% / 1.00);
  --admin-shadow-lg: 4px 4px 0px 0px hsl(0 0% 10.1961% / 1.00), 4px 4px 6px -1px hsl(0 0% 10.1961% / 1.00);
  --admin-shadow-xl: 4px 4px 0px 0px hsl(0 0% 10.1961% / 1.00), 4px 8px 10px -1px hsl(0 0% 10.1961% / 1.00);
  --admin-shadow-2xl: 4px 4px 0px 0px hsl(0 0% 10.1961% / 2.50);
}
